* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(165, 165, 190);   
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-top {
    width: 400px;
    height: 400px;
    border: 2px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.circle-bottom {
    width: 360px;
    height: 360px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: rgb(165, 165, 190);
    position: relative;
}

.hand {
    position: absolute;
    top: 50%;
    width: 160px;
    height: 5px;
    background-color: #000;
    margin-left: 10px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.45, 1.91, 0.58, 1);
}